<div class="row">
    <div class="col-xs-12">
        <div class="container-fluid">
            <div class="panel">
                <!--TODO: Replace-->
                <img src="{{LOGO_URL}}" class="logo-large"/>
                <h1>Algofinance</h1>
                <p>Intelligent personal finance management</p>
                <b>Made with ♥ by Deb Banerji, Hannah Kim, Charlie King, Tony Peng</b>
                <br>
                <button md-raised-button class="btn btn-raised btn-custom" (click)="loginWithGoogle()">Login With Google</button>
            </div>
        </div>
    </div>
</div>
