<app-nav-bar></app-nav-bar>
<!DOCTYPE html>
<html lang="en">

<body>

<!-- Navigation -->

<!-- Header -->
<header class="bg-light py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h2 class="display-4 text-black mt-5 mb-2">View Insurance Items</h2>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    <label>Add New Item</label>
    <div class="row">
        <div class="col-md-6 mb-5">
            <input type="text" name="newName" placeholder="Item"[(ngModel)]="newName"><br>
            <input type="number" name="newCost" placeholder="Cost" [(ngModel)]="newCost"><br>
            <input type="text" name="newDescription" placeholder="Description "[(ngModel)]="newDescription"><br>
            <input type="number" name="newImportance" placeholder="Importance" [(ngModel)]="newImportance"><br>
            <br>
            <button class="btn btn-primary"(click)="onAddInsuranceItemSubmit()"> Submit</button>
            <br><br>
            <!--            <ul>-->
            <!--                <li *ngFor="let insuranceItem of insuranceItemsValueChanges | async">-->
            <!--                    <pre>{{ insuranceItem | json }}</pre>-->
            <!--                    <h2>{{insuranceItem['name']}}</h2>-->
            <!--                </li>-->
            <!--            </ul>-->
            <div *ngFor="let insuranceItem of insuranceItemsValueChanges | async">

                <img class ="card" style="width: 200px">
                <div class="card-body">
                    <h5 class="card-title">{{insuranceItem['payload'].val()['name']}}</h5>
                    <h6 class="card-text">{{insuranceItem['payload'].val()['description']}}</h6>
                    <label>Cost: </label>
                    <input #cost type="number" placeholder="{{insuranceItem['payload'].val()['cost']}}">
                    <br>
                    <label>Importance: </label>
                    <input #importance type="number" placeholder="{{insuranceItem['payload'].val()['importance']}}">
                    <br>
                    <button (click) = "onUpdateInsuranceItemSubmit(insuranceItem, importance, cost)"
                            class="btn btn-primary">Update</button>
                    <button (click) = "onRemoveInsuranceItemSubmit(insuranceItem)" class="btn btn-danger">Remove</button>
                </div>


            </div>
        </div>

        <!--        <div class="col-md-4 mb-5">-->
        <!--            <br>-->
        <!--            <br>-->
        <!--            <button class ="btn btn-primary">Sign in with Google</button>-->
        <!--        </div>-->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Algofinance 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>





