<app-nav-bar></app-nav-bar>
<header class="bg-light py-5 mb-5">

    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-md-8">
                <h1 style="margin-top: 16px !important;" *ngIf="currentState < done"
                    class="display-4 text-black mt-5 mb-2">Calculating...</h1>
                <h1 *ngIf="currentState === done" class="display-4 text-black mt-5 mb-2"
                    style="color: green; margin-top: 16px !important;">Complete
                    <i class="fas fa-check"></i></h1>
                <br>
                <p class="lead mb-5 text-black-50">Running optimization algorithm with monthly budget of ${{budget}}</p>
            </div>
            <div class="col-md-4" style="text-align: center">
                <mat-progress-spinner
                    style="margin: 0 auto; padding-bottom: 100px"
                    class="example-margin"
                    color="primary"
                    mode="determinate"
                    [value]="5 + 90 * (currentState) / (almostDone)">
                </mat-progress-spinner>
                <div class="lead mb-5 text-black-50">
                    <span *ngIf="currentState === notLoaded">Initializing</span>
                    <span *ngIf="currentState === retrievingData">Retrieving Data</span>
                    <span *ngIf="currentState === transformingInputData">Transforming Input Data</span>
                    <span *ngIf="currentState === runningKnapsack">Running Optimization Algorithm</span>
                    <span *ngIf="currentState === consolidatingResults">Consolidating Results</span>
                    <span *ngIf="currentState === almostDone">Almost Done...</span>
                    <span *ngIf="currentState === done">Finished in {{calculationTimeTaken}} Seconds</span>
                </div>
            </div>
        </div>

    </div>

</header>


<div class="container">

    <div class="row">
        <div class="col-md-4 mb-5" style="margin-right: 75px">
            <p align="right" *ngIf="currentState === notLoaded">Initializing&nbsp;...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p align="right" *ngIf="currentState > notLoaded">Initializing&nbsp;...&nbsp;&nbsp;<span
                style='color: green'>Done</span> &nbsp;<i style='color: green' class="fas fa-check"></i></p>

            <p align="right" *ngIf="currentState === retrievingData">Retrieving Data&nbsp;...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p align="right" *ngIf="currentState > retrievingData">Retrieving Data&nbsp;...&nbsp;&nbsp;<span
                style='color: green'>Done</span> &nbsp;<i style='color: green' class="fas fa-check"></i></p>

            <p align="right" *ngIf="currentState === transformingInputData">Scaling Input Data&nbsp;...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p align="right" *ngIf="currentState > transformingInputData">Scaling Input
                Data&nbsp;...&nbsp;&nbsp;<span style='color: green'>Done</span> &nbsp;<i style='color: green'
                                                                                         class="fas fa-check"></i></p>

            <p align="right" *ngIf="currentState === runningKnapsack">Running Optimization Algorithm&nbsp;...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p align="right" *ngIf="currentState > runningKnapsack">Running Optimization
                Algorithm&nbsp;...&nbsp;&nbsp;<span style='color: green'>Done</span> &nbsp;<i style='color: green'
                                                                                              class="fas fa-check"></i>
            </p>

            <p align="right" *ngIf="currentState === consolidatingResults">Consolidating Results&nbsp;...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p align="right" *ngIf="currentState > consolidatingResults">Consolidating Results&nbsp;...&nbsp;&nbsp;<span
                style='color: green'>Done</span> &nbsp;<i style='color: green' class="fas fa-check"></i></p>

            <p align="right" *ngIf="currentState === almostDone">Finishing Up&nbsp;...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p align="right" *ngIf="currentState > almostDone">Finishing Up&nbsp;...&nbsp;&nbsp;<span
                style='color: green'>Done</span> &nbsp;<i style='color: green' class="fas fa-check"></i></p>

            <mat-progress-bar mode="indeterminate" *ngIf="currentState < done"></mat-progress-bar>
            <p align="right" *ngIf="currentState === done">Complete!</p>

        </div>
        <div class="col-md-6 mb-5">

            <div *ngIf="currentState >= done">
                <h3 class="display-4 text-black mt-5 mb-2" style="margin-top: 0 !important;">Results</h3>
                <div style="padding: 4px">
                    <h5>Items to Insure</h5>
                    <div class="row">
                        <div *ngFor="let insuranceItem of resultInsuranceItems" class="col-sm-4">
                            <div style="text-align: center">
                                <mat-card style="width: 100%; margin-top: 20px">
                                    <mat-card-content>
                                        <h5>{{insuranceItem["name"]}}
                                        </h5>
                                        <img src="{{insuranceItem['url']}}" width="100px" height="100px">
                                        <h6>${{insuranceItem["cost"]}}</h6>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                    <br>
                    <mat-card>
                        <h6>Safety level: {{achievedImportance}}%</h6>
                        <mat-progress-bar mode="determinate" [value]="achievedImportance"></mat-progress-bar>
                        <small>This is the highest level of overall safety you can achieve with your current budget.
                        </small>
                        <small style="color: red" *ngIf="achievedImportance <= 60">Consider raising budget if safety
                            level is too low
                        </small>
                        <br>
                        <h6>Budget allocated: ${{moneySpent}}</h6>
                        <h6>Budget unused: ${{moneyUnspent}}</h6>
                        <h6 *ngIf="unselectedItems">Unselected items: {{unselectedItems}}</h6>
                        <h6 *ngIf="remainingCost>0">Cost to insure remaining items: ${{remainingCost}}</h6>
                    </mat-card>
                    <br>

                </div>
            </div>
        </div>
    </div>
</div>
<p style="text-align: center" *ngIf="currentState === done">
    <button (click)="navigateBack()" mat-raised-button>Finish</button>
</p>

