<app-nav-bar></app-nav-bar>
<header class="bg-light py-5 mb-5">

    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-md-8">
                <h1 *ngIf="currentState < done" class="display-4 text-black mt-5 mb-2">Calculating...</h1>
                <h1 *ngIf="currentState === done" class="display-4 text-black mt-5 mb-2" style="color: green">Complete
                    <i class="fas fa-check"></i></h1>
                <p class="lead mb-5 text-black-50">Running optimization algorithm with monthly budget of ${{budget}}</p>
            </div>
            <div class="col-md-4">
                <mat-progress-spinner
                    style="text-align: center"
                    class="example-margin"
                    color="primary"
                    mode="determinate"
                    [value]="5 + 90 * (currentState) / (almostDone)">
                </mat-progress-spinner>
                <div>
                    <p *ngIf="currentState === notLoaded">Initializing...</p>
                    <p *ngIf="currentState === retrievingData">Retrieving Data...</p>
                    <p *ngIf="currentState === transformingInputData">Transforming Input Data...</p>
                    <p *ngIf="currentState === runningKnapsack">Running Optimization Algorithm...</p>
                    <p *ngIf="currentState === consolidatingResults">Consolidating Results...</p>
                    <p *ngIf="currentState === almostDone">Almost Done...</p>
                    <p *ngIf="currentState === done"></p>
                </div>
            </div>
        </div>

    </div>

</header>


<div class="container">

    <div class="row">
        <div class="col-md-4 mb-5" style="margin-right: 75px">
            <p align="right" *ngIf="currentState === notLoaded">Initializing&nbsp;...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p align="right" *ngIf="currentState > notLoaded">Initializing&nbsp;...&nbsp;&nbsp;<span
                style='color: green'>Done</span> &nbsp;<i style='color: green' class="fas fa-check"></i></p>

            <p align="right" *ngIf="currentState === retrievingData">Retrieving Data&nbsp;...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p align="right" *ngIf="currentState > retrievingData">Retrieving Data&nbsp;...&nbsp;&nbsp;<span
                style='color: green'>Done</span> &nbsp;<i style='color: green' class="fas fa-check"></i></p>

            <p align="right" *ngIf="currentState === transformingInputData">Transforming Input Data&nbsp;...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p align="right" *ngIf="currentState > transformingInputData">Transforming Input
                Data&nbsp;...&nbsp;&nbsp;<span style='color: green'>Done</span> &nbsp;<i style='color: green'
                                                                                         class="fas fa-check"></i></p>

            <p align="right" *ngIf="currentState === runningKnapsack">Running Optimization Algorithm&nbsp;...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p align="right" *ngIf="currentState > runningKnapsack">Running Optimization
                Algorithm&nbsp;...&nbsp;&nbsp;<span style='color: green'>Done</span> &nbsp;<i style='color: green'
                                                                                              class="fas fa-check"></i>
            </p>

            <p align="right" *ngIf="currentState === consolidatingResults">Consolidating Results&nbsp;...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p align="right" *ngIf="currentState > consolidatingResults">Consolidating Results&nbsp;...&nbsp;&nbsp;<span
                style='color: green'>Done</span> &nbsp;<i style='color: green' class="fas fa-check"></i></p>

            <p align="right" *ngIf="currentState === almostDone">Finishing Up&nbsp;...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p align="right" *ngIf="currentState > almostDone">Finishing Up&nbsp;...&nbsp;&nbsp;<span
                style='color: green'>Done</span> &nbsp;<i style='color: green' class="fas fa-check"></i></p>

            <mat-progress-bar mode="indeterminate" *ngIf="currentState < done"></mat-progress-bar>
            <p align="right" *ngIf="currentState === done">Complete!</p>

        </div>
        <div class="col-md-6 mb-5">

            <div *ngIf="currentState >= done">
                <h6>Items to insure</h6>
                <div class="row">
                    <div *ngFor="let insuranceItem of resultInsuranceItems">
                        <div class="col-sm-2" style="text-align: center">

                            <img class="card">
                            <div class="card-body" style="display: inline-block">
                                <h5>{{insuranceItem["name"]}}
                                </h5>
                                <img src="{{insuranceItem['url']}}" width="100px" height="100px">
                                <h6>${{insuranceItem["cost"]}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <h6>Confidence level: {{confidenceLevel}}</h6>
                <!--                <h6>Total Budget Used: {{}}</h6>-->
            </div>
        </div>
    </div>
</div>

