<app-nav-bar></app-nav-bar>

<nav class=" bg-light fixed-top " style="margin-top: 70px; padding-top: 10px">
    <div class="container ">
        <div class="row  align-items-center">
            <div class="col-lg-7">
                <h5 style="font-size: 35px"
                    class="display-4 text-black mt-2 mb-6">{{clientName ? clientName + '\'s Insurance List' : 'Loading...'}}</h5>
            </div>
            <div class="col-lg-3" *ngIf="!isAgent">
                <mat-form-field>
                    <mat-label>Budget in Dollars</mat-label>
                    <input matInput type="number" id="budget-field" (keyup.enter)="calculateInsurance()"
                           [(ngModel)]="budget" (change)="verifyBudget()">
                </mat-form-field>
                <br>
            </div>
            <div class="col-lg-2" *ngIf="!isAgent">
                <button mat-raised-button style="background-color: green; color: white" (click)="calculateInsurance()">
                    Calculate
                </button>
            </div>
        </div>
    </div>
</nav>

<br>
<br>
<br>
<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-6" *ngFor="let insuranceItem of insuranceItemsValueChanges | async">
                    <div>
                        <br>
                        <mat-card class="exmaple-card">
                            <mat-card-content>
                                <mat-card-title
                                    style="font-weight:bold; font-size:24px">{{insuranceItem['payload'].val()['name']}}</mat-card-title>
                                <p>
                                    {{insuranceItem['payload'].val()['description']}}
                                </p>
                            </mat-card-content>
                            <mat-form-field>
                                <mat-label>Cost</mat-label>
                                <input matInput id="cost-{{insuranceItem['key']}}" type="number" min="0" step="0.01"
                                       (change)="verifyCost('cost-'+insuranceItem['key'])"
                                       value="{{insuranceItem['payload'].val()['cost']}}">
                            </mat-form-field>
                            <br>
                            <label>Importance</label> &nbsp;
                            <mat-slider id="importance-{{insuranceItem['key']}}" min="1" max="100" step="1"
                                        thumbLabel
                                        value="{{insuranceItem['payload'].val()['importance']}}">
                            </mat-slider>
                            <br>
                            <mat-card-actions>
                                <button mat-stroked-button color="primary"
                                        (click)="onUpdateInsuranceItemSubmit(insuranceItem)">Update
                                </button>
                                &nbsp;
                                <button mat-stroked-button color="primary"
                                        (click)="onRemoveInsuranceItemSubmit(insuranceItem)">Remove
                                </button>
                            </mat-card-actions>

                        </mat-card>

                    </div>


                </div>
                <div class="col-md-6">
                    <div>
                        <br>
                        <mat-card class="exmaple-card">

                            <h4>Add new item</h4>
                            <mat-form-field><input type="text" matInput placeholder="Item" [(ngModel)]="newName">
                            </mat-form-field>
                            <br>
                            <mat-form-field><input type="number" matInput placeholder="Cost (Dollars)"
                                                   (change)="verifyNewCost()" min="0" step="0.01"
                                                   [(ngModel)]="newCost">
                            </mat-form-field>
                            <br>
                            <mat-form-field><input type="text" matInput placeholder="Description"
                                                   [(ngModel)]="newDescription">
                            </mat-form-field>
                            <br>
                            <label>Importance</label><br>
                            <mat-slider min="1" max="100" step="1" thumbLabel [(ngModel)]="newImportance"></mat-slider>
                            <br>
                            <button mat-stroked-button color="primary"
                                    (click)="onAddInsuranceItemSubmit()">
                                Submit
                            </button>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div
                style="margin-top:25px; padding-top: 20px; padding-left: 10px; padding-bottom: 10px; background-color:whitesmoke ">
                <h4>Chat with an agent</h4>
                <mat-form-field><textarea matInput (keyup.enter)="makeComment()" type="text" placeholder="Comment" wi
                                          [(ngModel)]="newCommentText"></textarea>
                </mat-form-field>

                <div style="margin-top: 7px" class="float-right">
                    <button mat-stroked-button color="primary" (click)="makeComment()">Send</button>&nbsp;&nbsp;&nbsp;
                </div>

                <div *ngFor="let comment of commentListChanges | async | orderBy: num : false">
                    <div><strong>{{comment['payload'].val()['name'] }}:</strong> {{comment['payload'].val()['text'] }}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<br>




