<app-nav-bar></app-nav-bar>

<input type="text" name="newName" [(ngModel)]="newName"><br>
            <input type="number" name="newCost" [(ngModel)]="newCost"><br>
            <input type="text" name="newDescription" [(ngModel)]="newDescription"><br>
            <input type="number" name="newImportance" [(ngModel)]="newImportance"><br>
            <button (click)="onAddInsuranceItemSubmit()"> submit</button>
            <ul>
                <li *ngFor="let insuranceItem of insuranceItemsValueChanges | async">
                    <pre>{{ insuranceItem | json }}</pre>
                    <h2>{{insuranceItem['name']}}</h2>
                </li>
            </ul>
