<app-nav-bar></app-nav-bar>
<div class="row">
    <div class="col-xs-12">
        <div class="container-fluid">
            <div class="panel">
                <h1>Home</h1>
                <p> Hello, {{displayName}}</p>
            </div>
            <div class="panel" style="text-align: center">
                <!--TODO: Replace-->
                <img src="{{LOGO_URL}}" class="logo-large"/>
                <h1>Algofinance</h1>
                <p>Intelligent personal finance management</p>
                <b>Made with ♥ by Deb Banerji, Hannah Kim, Charlie King, Tony Peng</b>
            </div>
        </div>
    </div>
</div>

